body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.title {
  color: #444;
  font-family: sans-serif;
  font-size: 100%;
  text-align: center;
}

.title > a {
  color: #00dbde;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.glimmer-world {
  border-spacing: 1;
}

.glimmer-citizen {
  width: 2px;
  height: 2px;
}

.glimmer-citizen.alive {
  background-color: #00dbde;
}

.glimmer-citizen.dead {
  background-color: transparent;
}
