<table class="glimmer-world">
  {{#each @world.citizens key="@index" as |row|}}
    <tr class="glimmer-world__row">
      {{#each row key="@index" as |citizen|}}
        <glimmer-citizen @citizen={{citizen}} />
      {{/each}}
    </tr>
  {{/each}}
</table>
