<table class="glimmer-world">
  {{#each @citizens key="@index" as |row|}}
    <tr class="glimmer-world__row">
      {{#each row key="@index" as |citizen|}}
        <glimmer-citizen @alive={{citizen.alive}} />
      {{/each}}
    </tr>
  {{/each}}
</table>
