<div class="glimmer-of-life">
  <h1 class="title">Conway's Glimmer of Life - <a href="https://github.com/trentmwillis/glimmer-of-life">GitHub</a></h1>

  <glimmer-world @citizens={{world.citizens}} />

  <button onclick={{action toggle}}>{{if running "stop" "start"}}</button>
</div>
